In [201]:
#if elif else
num = 100

In [202]:
if num == 100:
    print("One hundred")
else:
    print("This number is not one hundred")

One hundred

In [203]:
ls = [1, 2, 3, 4, 10]

In [204]:
if 5 in ls:
    print(10)
else: 
    print("not in list")

not in list

In [205]:
6 in ls

False

In [206]:
1 in ls

True

In [207]:
9 not in ls

True

In [208]:
ls = ls[:3]
ls

[1, 2, 3]

In [209]:
sum(ls)

6

In [210]:
if sum(ls) == 0:
    print("The sum of elements is 0")
elif sum(ls) < 10:
    print("The sum is less than 10")
else:
    print("The sum is not within 0-10")

The sum is less than 10

In [211]:
#declare list with any type of elements and use if-else and if-elif-else to get the result of the condition

In [212]:
num1 = 343

In [213]:
if num1 == pow(7,3):
    print("Seven to the power of three equals to 343")
else:
    print("False")

Seven to the power of three equals to 343

In [214]:
ls1 = [11, 44, 121, 1000]

In [215]:
if pow(11,2) in ls1:
    print("There is such an element in list 1")
else:
    print("The element cannot be found in list1")

There is such an element in list 1

In [216]:
sum(ls1)

1176

In [217]:
if sum(ls1) == 1000:
    print("The sum of elements is one thousand")
elif sum(ls1) > 1001:
    print("The sum is more than one thousand and one")
else:
    print("The sum is not more than one thousand and one")

The sum is more than one thousand and one

In [218]:
#Циклы for and while

In [219]:
ls.extend([10, 11, 20, 18])
ls

[1, 2, 3, 10, 11, 20, 18]

In [220]:
for el in ls:
    print(el)

1
2
3
10
11
20
18

In [221]:
for i in range(2,10):
    print(i)

2
3
4
5
6
7
8
9

In [222]:
for i in range(5):
    print(i)

0
1
2
3
4

In [223]:
ls2 = [i for i in range(5)]
ls2

[0, 1, 2, 3, 4]

In [224]:
for i in range(8):
    i += 10 #i = i + 10
    print(i)

10
11
12
13
14
15
16
17

In [225]:
num2 = 8
while num2 < 15:
    print(num2)
    num2 += 1

8
9
10
11
12
13
14

In [226]:
#Сравнение и разница if и while:
num2 = 8
if num2 < 15:
    print(num2)
    num2 += 1
else:
    print("The number is greater than 15")

8

In [227]:
#declare for loop for numbers in range of ur choice and multiply each number by 5
#declare list of length 10 and with while loop decrease it each time by 1 element

In [228]:
for j in range(6):
    print(j)

0
1
2
3
4
5

In [229]:
for j in range(6):
    j *= 5
    print(j)

0
5
10
15
20
25

In [230]:
for j in ls3:
    print(j)

0
1
2
3
4
5
6
7
8
9
10